
body{
    background-image: url(images/Back.jpg);
    background-repeat: no-repeat;
    background-size: 1540px 750px;
}

.heading{
    font-size: 5rem;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    color: rgb(247, 137, 11);
    text-shadow: 0 0 10px grey;
}

button{
    border: none;
    font-size: 25px;
    background: #14ad35;
    width: 80px;
    height: 60px;
    color: white;
}

input{
    border: 2px solid black;
    font-size: 30px;
    height: 75px;
    width: 328px;
}

table{
    margin:auto;
}

.adjust{
    display: inline-block;
    padding: 7px;
    border-radius: 8px;
    box-shadow: 0 0 10px chocolate;
}

.container{
    text-align: center;
    margin-top: 10px;
}

button:hover{
    background-color: #1a16e0;
}

#clear{
    background-color: coral;
    border: 3px solid black;
}

#result{
    background-color: cornflowerblue;
    border: 3px solid black;
}